<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<style>
    .addR{
        color:blue;
    }
    .addR:hover{
        color:blue;
        cursor:pointer;
    }
    .delR{
        color:red;
        padding-left:5px;
    }
    .delR:hover{
        cursor:pointer;
    }
    .opt .input-txt{
        width:100px !important;
    }
</style>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>邀新管理</h3>
        <h5>会员邀新及管理设置</h5>
      </div>
      <ul class="tab-base nc-row">
      <li><a  href="{:U('user/userInviteList')}" data-state="" ><span>邀新列表</span></a></li>
      <li><a href="{:U('user/userInviteRule')}" data-state="0" class="current" ><span>邀新奖励规则</span></a></li>
      
      </ul>
    </div>
  </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
    <ul>
        <li>会员邀请新会员注册，可获得佣金奖励</li>
        <li>邀新规则：可设置功能开启关闭，邀请人数及佣金奖励额度</li>
        <li style="color:red;">注意：邀请人数只能填写整数，奖励佣金只能填写整数或小数，只保留2位小数</li>
    </ul>
  </div>
    <form method="post" enctype="multipart/form-data" id="form1" name="form1" action="{:U('User/userInviteRule')}">
        <input type="hidden" name="inc_type" value="user_invite_rule">
        <div class="ncap-form-default">
            
            <dl class="row">
                <dt class="tit">
                    <label>邀请注册送佣金</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="switchs1" item='1' class="con-lab cb-enable  <if condition="$config['invite_on_off'] eq 1">selected</if>">开启</label>
                        <label for="switchs0" item='0' class="con-lab cb-disable <if condition="$config['invite_on_off'] eq 0">selected</if>">关闭</label>
                        <input type="hidden" name="invite_on_off" id="invite_on_off" value="<if condition="$config['invite_on_off'] eq 1">1</else>0</if>"" />
                    </div>
                </dd>
            </dl>

            <div id="continued">
                <if condition="$config['rule']">
                    <volist name="$config['rule']" id='v'>
                        <dl class="row">
                            <dt class="tit">
                                <label for="sign_signcount"></label>
                            </dt>
                            <dd class="opt">
                                <label for="sign_signcount">邀请注册达：</label>
                                <input pattern="^\d{1,}$" id="sign_signcount" name="rulek[]" value="{$key}" class="input-txt continued-input" type="text"> 人，
                                <label for="sign_signcount">奖励：</label>
                                <input onKeyUp="preval(this)" onpaste="preval(this)" pattern="preval(this)" name="rulev[]" value="{$v}" class="input-txt continued-input" type="text"> 佣金；
                                <if condition="$key eq $first_key">
                                    <a class="addR">增加</a>
                                <else/>
                                    <a class="delR" onclick="delR(this);">删除</a>
                                </if>
                            </dd>
                        </dl>
                    </volist>
                <else/>
                    <dl class="row">
                        <dt class="tit">
                            <label for="sign_signcount"></label>
                        </dt>
                        <dd class="opt">
                            <label for="sign_signcount">邀请注册达：</label>
                            <input pattern="^\d{1,}$" id="sign_signcount" name="rulek[]" value="" class="input-txt continued-input" type="text"> 人，
                            <label for="sign_signcount">奖励：</label>
                            <input onKeyUp="preval(this)" onpaste="preval(this)" pattern="preval(this)" name="rulev[]" value="" class="input-txt continued-input" type="text"> 佣金；
                            <a class="addR">增加</a>
                        </dd>
                        
                    </dl>
                </if>
                
            </div>
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="checkSubmit()">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $('.con-lab').on('click',function(){
            var item = $(this).attr('item');
            $('#invite_on_off').val(item);
        });


        $('.continued-input').on('keyup',function(){
            $(this).val($(this).val().replace(/[^\d\.]/g,''));
        });

        $('.addR').on('click',function(){
            var html =  '<dl class="row">'+
                            '<dt class="tit">'+
                                '<label for="sign_signcount"></label>'+
                            '</dt>'+
                            '<dd class="opt">'+
                                '<label for="sign_signcount">邀请注册达：</label>'+
                                '<input pattern="^\d{1,}$" name="rulek[]" class="input-txt continued-input" type="text"> 天，'+
                                '<label for="sign_signcount">奖励：</label>'+
                                '<input onKeyUp="preval(this)" onpaste="preval(this)" pattern="preval(this)" name="rulev[]" class="input-txt continued-input" type="text"> 佣金；'+
                                '<a class="delR" onclick="delR(this);">删除</a>'+
                            '</dd>'+
                        '</dl>';
            $('#continued').append(html);
        });


    })

    function preval(obj){
        var val = $(obj).val();
        var reg = /^\d+(\.\d{0,2})?$/;
        if(!reg.test(val)){
            $(obj).val('');
            layer.open({content:'只能输入整数和两位小数'});
            return false;
        }
    }


    function delR(obj){
        $(obj).parents('.row').remove();
    }

	function checkSubmit(){		
		if( $('input[name="sign_on_off"]:checked').val() == 1){
			if( !$('input[name="sign_integral"]').val() ){
				layer.alert('签到送积分不能空!', {icon: 2});
				return false;
            }
		}
		$('#form1').submit();
	}
</script>
<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop">
        <i class="fa fa-angle-up"></i>
    </a>
    <a href="JavaScript:void(0);" id="btnbottom">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
</body>
</html>